flows (1).json
[{"id":"71bcee73.0ccb4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5db428ba.53dd28","type":"function","z":"71bcee73.0ccb4","name":"PreToken","func":"global.set(\"Country\",msg.payload.Country)\nglobal.set(\"Year\",msg.payload.Year)\nglobal.set(\"Status\",msg.payload.Status)\nglobal.set(\"AdultMortality\",msg.payload.AdultMortality)\nglobal.set(\"infantdeaths\",msg.payload.infantdeaths)\nglobal.set(\"Alcohol\",msg.payload.Alcohol)\nglobal.set(\"percentageexpenditure\",msg.payload.percentageexpenditure)\nglobal.set(\"HepatitisB\",msg.payload.HepatitisB)\nglobal.set(\"Measles\",msg.payload.Measles )\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"underfivedeaths\",msg.payload.underfivedeaths)\nglobal.set(\"Polio\",msg.payload.Polio)\nglobal.set(\"Totalexpenditure\",msg.payload.Totalexpenditure)\nglobal.set(\"Diphtheria\",msg.payload.Diphtheria )\nglobal.set(\"HIVAIDS\",msg.payload.HIVAIDS)\nglobal.set(\"GDP\",msg.payload.GDP)\nglobal.set(\"Population\",msg.payload.Population)\nglobal.set(\"thinness119years\",msg.payload.thinness119years)\nglobal.set(\"thinness59years\",msg.payload.thinness59years)\nglobal.set(\"Incomecompositionofresources\",msg.payload.Incomecompositionofresources)\nglobal.set(\"Schooling\",msg.payload.Schooling)\n\nvar apikey=\"gL0mTy73-Xkj8UktiFGpDJZMNMjTpg2EMj202ShTUliZ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":286,"y":320.00000381469727,"wires":[["10c5916.4c60b6f"]]},{"id":"10c5916.4c60b6f","type":"http request","z":"71bcee73.0ccb4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["6e45dad0.c99474"]]},{"id":"358f56d3.3882ea","type":"inject","z":"71bcee73.0ccb4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":137.5,"y":228.00000381469727,"wires":[["5db428ba.53dd28"]]},{"id":"33d1620f.711d9e","type":"debug","z":"71bcee73.0ccb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"6e45dad0.c99474","type":"function","z":"71bcee73.0ccb4","name":"Pre Prediction","func":"var Country=global.get(\"Country\")\nvar Year=global.get(\"Year\")\nvar Status=global.get(\"Status\")\nvar AdultMortality=global.get(\"AdultMortality\")\nvar infantdeaths=global.get(\"infantdeaths\")\nvar Alcohol=global.get(\"Alcohol\")\nvar percentageexpenditure=global.get(\"percentageexpenditure\")\nvar HepatitisB=global.get(\"HepatitisB\")\nvar Measles=global.get(\"Measles\" )\nvar BMI=global.get(\"BMI\")\nvar underfivedeaths=global.get(\"underfivedeaths\")\nvar Polio=global.get(\"Polio\")\nvar Totalexpenditure=global.get(\"Totalexpenditure\")\nvar Diphtheria=global.get(\"Diphtheria\")\nvar HIVAIDS=global.get(\"HIVAIDS\")\nvar GDP=global.get(\"GDP\")\nvar Population=global.get(\"Population\")\nvar thinness119years=global.get(\"thinness119years\")\nvar thinness59years=global.get(\"thinness59years\")\nvar Incomecompositionofresources=global.get(\"Incomecompositionofresources\")\nvar Schooling=global.get(\"Schooling\")\n\nvar token=msg.payload.access_token\nvar instance_id=\"d7e1741a-2dc9-4a73-97e0-c57c714c9857\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"Country\",\"Year\",\"Status\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\n\"percentage expenditure\",\"Hepatitis B\",\"Measles \",\"BMI\",\"under-five deaths \",\n\"Polio\",\"Total expenditure\",\"Diphtheria \",\"HIV/AIDS\",\"GDP\",\"Population\",\n\"thinness  1-19 years\",\"thinness 5-9 years\",\"Income composition of resources\",\n\"Schooling\"], \n\"values\": [[Country,Year,Status,AdultMortality,infantdeaths,Alcohol,percentageexpenditure,HepatitisB,Measles,BMI,underfivedeaths,Polio,Totalexpenditure,Diphtheria,HIVAIDS,GDP,Population,thinness119years,thinness59years,Incomecompositionofresources,Schooling]]}\nreturn msg;","outputs":1,"noerr":0,"x":651.0000076293945,"y":268.00000381469727,"wires":[["4b25f42e.179e4c"]]},{"id":"4b25f42e.179e4c","type":"http request","z":"71bcee73.0ccb4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d7e1741a-2dc9-4a73-97e0-c57c714c9857/deployments/9982c543-851a-44a1-b570-d6c7e92ed07f/online","tls":"","persist":false,"proxy":"","authType":"","x":762.5000076293945,"y":161.00000143051147,"wires":[["5cacaa5d.1631d4"]]},{"id":"4c37e674.142d58","type":"ui_text","z":"71bcee73.0ccb4","group":"d7726271.1b917","order":1,"width":0,"height":0,"name":"","label":"Predicted Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":885.6000518798828,"y":366.200008392334,"wires":[]},{"id":"5cacaa5d.1631d4","type":"function","z":"71bcee73.0ccb4","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":566.6000442504883,"y":56.600003242492676,"wires":[["33d1620f.711d9e","4c37e674.142d58"]]},{"id":"8d0c7137.74b6c","type":"ui_form","z":"71bcee73.0ccb4","name":"","label":"form","group":"d7726271.1b917","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"Country","type":"text","required":true,"rows":null},{"label":"Year","value":"Year","type":"number","required":true,"rows":null},{"label":"Status","value":"Status","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"AdultMortality","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"infantdeaths","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"Alcohol","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"percentageexpenditure","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"HepatitisB","type":"number","required":true,"rows":null},{"label":"Measles ","value":"Measles ","type":"number","required":true,"rows":null},{"label":" BMI ","value":" BMI ","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"underfivedeaths ","type":"number","required":true,"rows":null},{"label":"Polio","value":"Polio","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"Totalexpenditure","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"Diphtheria ","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":" HIVAIDS","type":"number","required":true,"rows":null},{"label":"GDP","value":"GDP","type":"number","required":true,"rows":null},{"label":"Population","value":"Population","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":" thinness119years","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":" thinness59years","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"Incomecompositionofresources","type":"number","required":true,"rows":null},{"label":"Schooling","value":"Schooling","type":"number","required":true,"rows":null}],"formValue":{"Country":"","Year":"","Status":"","AdultMortality":"","infantdeaths":"","Alcohol":"","percentageexpenditure":"","HepatitisB":"","Measles ":""," BMI ":"","underfivedeaths ":"","Polio":"","Totalexpenditure":"","Diphtheria ":""," HIVAIDS":"","GDP":"","Population":""," thinness119years":""," thinness59years":"","Incomecompositionofresources":"","Schooling":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":108.00000095367432,"y":340.0000066757202,"wires":[["5db428ba.53dd28"]],"l":false},{"id":"d7726271.1b917","type":"ui_group","z":"","name":"Default","tab":"d61e82e1.ca9ce","order":1,"disp":true,"width":"6","collapse":false},{"id":"d61e82e1.ca9ce","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]